---
layout: page
title:
subtitle: You can find me here
description: 
permalink: /contacts
sitemap:
  priority: 0.9
listed: false
---

{% if site.author.email %}
Email: <a href="mailto:{{ site.author.email }}" class="social-links__entry" target="_blank">
<i class="fas fa-envelope-square"></i>
</a>
<br /> <br />
{% endif %}
{% if site.author.github %}
Github: <a href="https://github.com/{{ site.author.github }}" class="social-links__entry" target="_blank">
<i class="fab fa-github"></i>
</a>
<br /> <br />
{% endif %}
{% if site.author.linkedin %}
Linkedin: <a href="https://in.linkedin.com/in/{{ site.author.linkedin }}" class="social-links__entry" target="_blank">
<i class="fab fa-linkedin-in"></i>
</a>
<br /> <br />
{% endif %}
{% if site.author.twitter %}
Twitter: <a href="https://twitter.com/{{ site.author.twitter }}" class="social-links__entry" target="_blank">
<i class="fab fa-twitter"></i>
</a>
<br /> <br />
{% endif %}

{% if site.formkey %}
Send me a message via this form: <br />
<form action="https://api.web3forms.com/submit" method="POST">

    <input type="hidden" name="access_key" value="{{ site.formkey }}">

    <input type="text" name="name" required>
    <input type="email" name="email" required>
    <textarea name="message" required></textarea>
    <input type="hidden" name="redirect" value="https://web3forms.com/success">

    <button type="submit">Submit Form</button>

</form>
{% endif %}
